[submodule "repos/chain-registry-fixtures"]
	path = repos/chain-registry-fixtures
	url = https://github.com/chain-registry/chain-registry-fixtures.git
[submodule "repos/chain-registry"]
	path = repos/chain-registry
	url = https://github.com/cosmos/chain-registry.git
[submodule "repos/registry-json"]
	path = repos/registry-json
	url = https://github.com/chain-registry/chain-registry.git
