[submodule "repos/fixtures"]
	path = repos/fixtures
	url = https://github.com/chain-registry/fixtures.git
[submodule "repos/chain-registry"]
	path = repos/chain-registry
	url = https://github.com/cosmos/chain-registry.git
